/Scratchpad
.vs/APC40-MkII-Chataigne-Module.slnx/FileContentIndex/f6a70b76-fd20-47c5-b08e-fa6fa9163b99.vsidx
.vs/APC40-MkII-Chataigne-Module.slnx/v18/.wsuo
.vs/APC40-MkII-Chataigne-Module.slnx/v18/DocumentLayout.json
.vs/APC40-MkII-Chataigne-Module/CopilotIndices/18.0.988.22099/CodeChunks.db
.vs/APC40-MkII-Chataigne-Module/CopilotIndices/18.0.988.22099/SemanticSymbols.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
